@tailwind base;
@tailwind components;
@tailwind utilities;

@reference "tailwindcss";

.filter-container {
    @apply flex flex-wrap;
}

.filter-item {
    @apply min-w-[5rem] rounded-full border-2;
}

.filterSlots {
    @apply p-4 py-2 flex flex-col gap-2 bg-gray-800 rounded-lg text-white no-underline w-full block;
}
